*{
    box-sizing : border-box;
}

body{
    margin : 0;
    color : whitesmoke;
    background-color: #EEEEEE;
}

nav{
    display : flex;
    flex-wrap : wrap;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 5px;
    border: 3px groove #686D76;
    background-color: #373A40;

}

nav a{
    display: inline-block;
    min-width: 9rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: solid 1px #EEEEEE;
    text-align: center;
    text-decoration: none;
    color: #EEEEEE;
    margin-top : 0.2rem ;
}